:root {
  --color-green: rgba(102, 204, 102, 0.8);
  --color-yellow: rgba(253, 253, 131, 0.6);
  --color-red: rgba(138, 40, 40, 0.8);
  --color-purple: rgba(204, 153, 204, 0.8);
  --color-blue: rgba(153, 204, 204, 0.8);

  font-size: 60%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #121212;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hwt-container {
  background-color: #121212;
  display: grid;
  top: 1vh;
  bottom: 5vh;
  left: 2vh;
  right: 1vh;
  position: absolute;
}

.hwt-content {
  line-height: 4vh;
  font-size: 3vh;
  resize: none;
  overflow: scroll;
  padding: 0.6vh;
  border: 0;
  color: #fff;
  font-family: monospace;
  height: auto !important;
}

.hwt-input:focus {
  outline-color: #f8f9fa;
}

.hwt-content mark {
  border-radius: 5px;
  background-color: #d0bfff;
}

.hwt-content mark.two {
    background-color: var(--color-yellow);
}

.hwt-content mark.four {
  background-color: var(--color-purple);
}

.hwt-content mark.six {
  background-color: var(--color-red);
}

.hwt-content mark.twelve {
  background-color: var(--color-green);
}

.hwt-content mark.else {
  background-color: var(--color-blue);
}


.credits {
  font-family: monospace;
  font-size: 1.8vh;
  bottom: 1.5vh;
  left: 0.4vh;
  /*top: 80vh;*/
  position: absolute;
  display: grid;
  grid-template-columns: 14vh 16vh;
  text-align: center;
  align-content: center;
  grid-column-gap: 1vh;
  width: 1vw;
}

.by {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--color-yellow);
}

.check-code {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--color-purple);

}

.by:hover {
  color: papayawhip;
  text-decoration:underline;
  text-decoration-style: dotted;
}

.check-code:hover {
  color: papayawhip;
  text-decoration:underline;
  text-decoration-style: dotted;
}


.play-button {
  width: 8vh;
  height: 8vh;

  background-color: rgba(102, 204, 102, 0.8);

  border-radius: 50%;
  /*box-shadow: 0 4px 10px 0 #666;*/

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  font-size: 4.4vh;
  color: white;
  text-align: center;
  line-height: 8vh;

  position: absolute;
  /*left: 50%;*/
  bottom: 0.8vh;
  right: 0.8vh;
  z-index: 1;

  border: none;
  padding: 0;
  outline: none;
}

.play-button:hover {
  /* box-shadow: 0 6px 14px 0 #666; */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.play-button:focus {
  /* box-shadow: 0 6px 14px 0 #666; */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.play-button:active {
    /*box-shadow: 0 4px 8px 0 #666;;*/
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.play-button.two {
  -webkit-transition: background-color 350ms linear;
  -moz-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  -o-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(253, 253, 131, 0.6);
}

.play-button.four {
  -webkit-transition: background-color 350ms linear;
  -moz-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  -o-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(204, 153, 204, 0.8);
}

.play-button.six {
  -webkit-transition: background-color 350ms linear;
  -moz-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  -o-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(255, 102, 102, 0.8);
}

.play-button.twelve {
  -webkit-transition: background-color 350ms linear;
  -moz-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  -o-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(102, 204, 102, 0.8);
}

.play-button.else {
  -webkit-transition: background-color 350ms linear;
  -moz-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  -o-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(153, 204, 204, 0.8);
}


/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}


/*Removes focus border*/
*:focus {
  outline: none;
}

.view-button {
  width: 4vh;
  height: 4vh;

  background-color: rgba(102, 204, 102, 0.8);

  border-radius: 50%;

  transition: all 0.1s ease-in-out;

  font-size: 2.4vh;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 0.8vh;
  right: 7.5rem;
  z-index: 1;

  border: none;
  padding: 0;
  outline: none;
}

.view-button:hover {
  transform: scale(1.1);
}

.view-button:focus {
  transform: scale(1.1);
}

.view-button:active {
  transform: scale(0.9);
}