body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #121212;
}

.hwt-container {
  background-color: #121212;
  display: grid;
  top: 10px;
    bottom: 40px;
  left: 5px;
  right: 5px;
  position: absolute;
}

.hwt-content {
  line-height: 4vh;
  font-size: 3vh;
  resize: none;
  overflow: scroll;
  padding: 0.6vh;
  border: 0;
  color: #fff;
  font-family: monospace;
  height: auto !important;
}

.hwt-input:focus {
  outline-color: #f8f9fa;
}

.hwt-content mark {
  border-radius: 5px;
  background-color: #d0bfff;
}

.hwt-content mark.two {
    background-color: rgba(253, 253, 131, 0.6);
}

.hwt-content mark.four {
  background-color: rgba(204, 153, 204, 0.8);
}

.hwt-content mark.six {
  background-color: rgba(255, 102, 102, 0.8);
}

.hwt-content mark.twelve {
  background-color: rgba(102, 204, 102, 0.8);
}

.hwt-content mark.else {
  background-color: rgba(153, 204, 204, 0.8);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.credits {
  font-family: monospace;
  font-size: 1.6vh;
  bottom: 0;
  left: 0.4vh;
  top: 98vh;
  position: absolute;
  margin: 0;
  padding-right: 0.4vh;
}

.by {
  color: grey;
  text-decoration: none;
}

.check-code {
  color: grey;
  text-decoration: none;
}


.by:hover {
  color: wheat;
  text-decoration:underline;
  text-decoration-style: dotted;
}

.check-code:hover {
  color: wheat;
  text-decoration:underline;
  text-decoration-style: dotted;
}


.play-button {
  width: 8vh;
  height: 8vh;

  background-color: rgba(102, 204, 102, 0.8);

  border-radius: 50%;
  /*box-shadow: 0 4px 10px 0 #666;*/
  transition: all 0.1s ease-in-out;

  font-size: 4.4vh;
  color: white;
  text-align: center;
  line-height: 8vh;

  position: absolute;
  /*left: 50%;*/
  bottom: 0.8vh;
  z-index: 1;

  border: none;
  padding: 0;
  outline: none;
}

.play-button:hover {
  /* box-shadow: 0 6px 14px 0 #666; */
  transform: scale(1.1);
}

.play-button:focus {
  /* box-shadow: 0 6px 14px 0 #666; */
  transform: scale(1.1);
}

.play-button:active {
    /*box-shadow: 0 4px 8px 0 #666;;*/
    transform: scale(0.90);
}

.play-button.two {
  -webkit-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(253, 253, 131, 0.6);
}

.play-button.four {
  -webkit-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(204, 153, 204, 0.8);
}

.play-button.six {
  -webkit-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(255, 102, 102, 0.8);
}

.play-button.twelve {
  -webkit-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(102, 204, 102, 0.8);
}

.play-button.else {
  -webkit-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
  background-color: rgba(153, 204, 204, 0.8);
}