body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #121212;
}

.hwt-container {
  background-color: #121212;
  display: grid;
  top: 10px;
  bottom: 10px;
  left: 5px;
  right: 5px;
  position: fixed;
}

.hwt-content {
  line-height: 30px;
  font-size: 1.6em;
  resize: none;
  overflow: scroll;
  padding: 10px;
  border: 0px;
  color: #fff;
  font-family: monospace;
}

.hwt-input:focus {
  outline-color: #f8f9fa;
}

.hwt-content mark {
  border-radius: 5px;
  background-color: #d0bfff;
}

.hwt-content mark.two {
  background-color: rgba(250, 250, 107, 0.5);
}

.hwt-content mark.four {
  background-color: rgba(250, 107, 250, 0.5);
}

.hwt-content mark.six {
  background-color: rgba(250, 107, 107, 0.5);
}

.hwt-content mark.twelve {
  background-color: rgba(107, 250, 107, 0.5);
}

.hwt-content mark.else {
  background-color: rgba(107, 250, 250, 0.5);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
